<form [formGroup]="productForm" (ngSubmit)="addProduct()">
  <div class="form-group">
    <label>Title:</label>
    <input type="text" formControlName="title" class="form-control">
  </div>

  <div class="form-group">
    <label>Price:</label>
    <input type="number" formControlName="price" class="form-control">
  </div>

  <div class="form-group">
    <label>Description:</label>
    <textarea formControlName="description" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label>Category:</label>
    <select class="form-control" formControlName="category"  >
      <option value="">Select a category</option>
      <option  value="men's clothing">Men's clothing</option>
      <option  value="jewelery">Jewelery</option>
      <option  value="electronics">Electronics</option>
      <option  value="women's clothing">Women's clothing</option>
    </select>
  </div>

  <div class="form-group">
    <label>Image URL:</label>
    <input type="url" formControlName="image" class="form-control">
  </div>

  <button type="submit" [disabled]="productForm.invalid" >Add Product</button>
</form>
