<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img width="40" height="32" src="https://img.icons8.com/ios-glyphs/30/small-business--v1.png" alt="small-business--v1"/>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/" class="nav-link px-2" routerLinkActive="link-secondary" [routerLinkActiveOptions]="{exact: true}">{{ 'Home'  | titlecase }}</a></li>
      <li><a routerLink="/dashboard" class="nav-link px-2" routerLinkActive="link-secondary" [routerLinkActiveOptions]="{exact: true}">{{ 'Dashboard'  | titlecase }}</a></li>
      <li><a routerLink="/add-product" class="nav-link px-2" routerLinkActive="link-secondary" [routerLinkActiveOptions]="{exact: true}">{{ 'Add Product'  | titlecase }}</a></li>
      <li><a routerLink="/cart"  class="nav-link px-2" routerLinkActive="link-secondary" [routerLinkActiveOptions]="{exact: true}"> {{cartLabel() }}</a></li>
    </ul>

    <div class="col-md-3 text-end">
      @if (!checkAuthStatus) {
        <button (click)="redirectToLogin()" type="button" class="btn btn-outline-primary me-2" >Login</button>
      } @else {
        <button (click)="logout()" type="button" class="btn btn-outline-primary me-2" >Logout</button>
      }
    </div>
  </header>
</div>
