<div class="col-md-3 mt-1">
  <img class="img-fluid img-responsive rounded product-image" src="{{product().image}}">
</div>
  <div class="col-md-6 mt-1">
    <h5>{{product().title}}</h5>
    <!-- <div class="d-flex flex-row">
        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
        <span>{{product().rating.count}}</span>
    </div> -->
    <div class="mt-1 mb-1 spec-1"><span>{{product().category}}</span></div>
      <p class="text-justify para mb-0">{{product().description}}</p>
</div>
<div class="align-items-center align-content-center col-md-3 border-left mt-1">
  <div class="d-flex flex-row align-items-center">
      <h4 class="mr-1">{{product().price}}</h4>
  </div>
  <div class="d-flex flex-column mt-4">
    <button class="btn btn-primary btn-sm mt-2" type="button" (click)="addToCart()">Add to cart</button>
  </div>
</div>
