<div class="card-body p-4">
   <div class="row align-items-center">
      <div class="col-md-3">
        <img src="{{ items().image}}"
          class="img-fluid" alt="Generic placeholder image">
      </div>
      <div class="col-md-3 d-flex justify-content-center">
        <div>
          <p class="small text-muted mb-4 pb-2">{{ items().title}}</p>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <div>
          <p class="small text-muted mb-4 pb-2">Quantity</p>
          <p class="lead fw-normal mb-0">{{ items().quantity }}</p>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <div>
          <p class="small text-muted mb-4 pb-2">Total</p>
          <p class="lead fw-normal mb-0">{{ items().price | currency }} <p>
        </div>
      </div >
      <div class="col-md-2 d-flex justify-content-center">
        <button  type="button" class="btn btn-outline-primary me-2"  (click)="cartService.removeFromCart(items().id)">Remove</button>
      </div >
    </div>
</div>
